﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<form method="post">
    <div class="form-group">
        <label asp-for="Input.Url"></label>
        <input asp-for="Input.Url" class="form-control" />
        <span asp-validation-for="Input.Url" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Title"></label>
        <input asp-for="Input.Title" class="form-control" />
        <span asp-validation-for="Input.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Price"></label>
        <input asp-for="Input.Price" class="form-control" />
        <span asp-validation-for="Input.Price" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Send</button>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
















@*@page
    @model IndexModel
    @{
        ViewData["Title"] = "Home page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>@Model.Message</p>

        <form method="post">
            <div class="form-group">
                <label asp-for="Message"></label>
                <input asp-for="Message" class="form-control" placeholder="Type your message..." />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <button class="btn btn-primary">Send</button>
        </form>
    </div>

    @section Scripts
    {
        <partial name="_ValidationScriptsPartial" />
    }*@



