﻿@page "{handler?}/{type?}"
@model WishList.Pages.ItemsModel
@{
    ViewData["Title"] = "Items";
}

<h1>Items</h1>
<div class="container">
    <div class="row">
        @foreach (var item in Model.Items)
        {
            <div class="col-md-3">
                <div class="card">
                    <img src="@item.ImageUrl" class="card-img-top" alt="@item.Title">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Price</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>